:root{
  --main-bg-color: aliceblue;
}

body {
  font-family: 'PT Serif', serif; 
  margin:0;
  padding: 0;
  }

  /*BARRA NAVEGACION*/
  #navbar {
      display: flex;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: white;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
      z-index: 10;
  }  
  
  ul {
    display:flex;
    list-style: none;
    justify-content: space-around;
    gap: 3rem;
    margin: auto 1rem;
   padding: 0.8rem;
   
  }
  
  li:hover {
    /*box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);*/
    transform: scale(1.1);
    border-radius: 50%;
    font-weight: bolder;
   
  }
  
  
a {
       text-decoration:none;
       color: black;
      
     }
  

     /*PAGINA DE INICIO*/
  
  #welcome-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      width: 100%;
      height: 100vh;
     /* background: linear-gradient(35deg, #7E007D, #F3BAC1, #FDFDFD, #94615E, #181719);*/
      background: linear-gradient(35deg, #006766, #9CBBBC, #FDF3B8, #6A6A6A, #B6B6B6);  
    
     
  }
  
  .design {
    width: 25rem;
    position: absolute;
    top:0;
    left:0;
  } 

  .name {
    font-size: 60px;
    font-family: "Lucida Handwriting",cursive;
    letter-spacing: 10px;
    padding-top: 100px;
  }
  
  
  span {
    font-weight: bolder;
    font-size:60px;
  }
  
  h1 {
     background: -webkit-linear-gradient(40deg, #9E0DE2, #256C84,#122434, #172A45, #892F89, #431641, #073966);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight: bolder;
  
  }
  
    /*SOBRE MI*/

  #about {
   background-color: var(--main-bg-aliceblue);
    color: black;
    padding: 10rem 7rem;
    font-size: 1.2rem;

 
  }
   
    .card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    h2 {
   
      text-align: center;
      padding-bottom: 1rem;
      
      } 

.foto {
   width: 15rem;
   border-radius: 50%;
   position: absolute;
   top:-24%;
   left:70%;
   z-index: 2;
   animation-name: girar;
   animation-duration: 1s;
   animation-iteration-count: initial;
   animation-timing-function:linear;
   display: inline-block;
 }
  

@keyframes girar {
  from {
    transform: perspective(600px) rotateY(180deg);
  }
  to {
    transform: perspective(600px) rotateY(360deg);
  }
}

    .p-about {
      text-align: justify;
      line-height: 30px;
    }
    

    /* PROYECTOS*/
  #projects {
    background-color: var(--main-bg-aliceblue);
    color: black;
    padding: 6rem 8rem;
    text-align: center;
    padding-bottom: 10px;
    
}


  .title-p {
    text-align: center;
    padding-bottom: 3rem;
   
    
  }
  #container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    margin: auto;
    max-width: 1200px;
    padding-bottom: 10rem;

  }

  .project {
    background: linear-gradient(90deg, #006766,/* #9CBBBC, #9CBBBC,*/ #006766);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 500px;
    
  }

  
  .project a {
    text-decoration: none;
    color:black;
    
}

.title-projects {
  color: white;
  font-size: 1.1rem;
  padding-top: 10px;
}


.title-projects:hover {
  transform: scale(1.1);
} 


/*FOOTER*/

#footer {
  padding: 2rem 0;
  background-color: var(--main-bg-aliceblue);
  background-color: #6A6A6A;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  line-height: 50px;
  font-size: 1.4rem;
  
 
}

.datos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem  0;
  background-color: #6A6A6A;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  line-height: 50px;
  
}

.logo {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 2.2rem;
  cursor: pointer;

}

.linkedin {
  font-size: 2rem;
}
.github {
  font-size: 2rem;
}

.linkedin:hover {
  transform: scale(1.1);
}
.github:hover {
  transform: scale(1.1);
}

.copy {
  display: flex;
  justify-content: center;
  align-items: end;
  color:#FDF3B8;
  font-weight: bolder;
  font-size: 1.2rem;
}


/*PARA DISPOSITIVOS MOVILES*/


  @media (max-width: 750px){
   body {
   font-size: 1.1rem;
   font-family: 'PT Serif', serif;
   }

    ul {
      margin: 0;
      gap:1;
      
    }
  

    .design {
     
      width: 15rem;
      
    }

  .name {
    
    padding: 3.5rem;
    padding-top: 10rem;
  
    padding-bottom: 20px;
    font-size: 3.5rem;
    
  }

  h1 {
    padding: 0 3rem;
    text-align: center;
   padding-bottom: 10px;
   font-size: 2rem; 
 
 }

 
 #about {
   padding: 1rem;
   line-height: 15px;
   padding-top: 8rem;
  
 }
 
 .foto {
  width: 13rem;
  border-radius: 80%;
  position: absolute;
  top:-15%;
  left:50%;
  

}
 h2 {
  text-align: left;
  font-weight: bolder;
 }
  
   .card {
   margin: 40px auto;
   padding: 30px;
   
   }

   #projects {
    padding: 6rem 2.5rem 0;

   
    
}

   #footer {
    padding: 1rem 1rem;
   
  }


.datos {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  
}

  }


