body {
    font-family: 'Alkatra', cursive; 
  margin:0;
  padding: 0;
  }
  
  #navbar {
      display: flex;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: white;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
      z-index: 10;
  }  
  
  ul {
    display:flex;
    list-style: none;
    justify-content: space-around;
    gap: 3rem;
    margin: auto 1rem;
   padding: 0.6rem;
   
  }
  
  li {
    padding: 0.2rem;
  }
  li:hover {
    /*box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);*/
    transform: scale(1.1);
    border-radius: 50%;
   
  }
  
  
a {
       text-decoration:none;
       color: black;
     }
  
  .logo {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 60%;
    gap: 2rem;
    cursor: pointer;
  
  }

  .linkedin {
    font-size: 1.5rem;
  }
  .github {
    font-size: 1.5rem;
  }

  .linkedin:hover {
    transform: scale(1.1);
  }
  .github:hover {
    transform: scale(1.1);
  }

  
  #welcome-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      width: 100%;
      height: 100vh;
      background: linear-gradient(35deg, #7E007D, #F3BAC1, #FDFDFD, #94615E, #181719);
      background: linear-gradient(35deg, #006766, #9CBBBC, #FDF3B8, #6A6A6A, #B6B6B6);
    
    
     
  }
  
  .name {
    font-size: 50px;
    font-family: "Lucida Handwriting",cursive;
    letter-spacing: 10px;
    padding-top: 100px;
  }
  

  
  span {
    font-weight: bolder;
    font-size:60px;
  }
  
  h1 {
     background: -webkit-linear-gradient(40deg, #9E0DE2, #256C84,#122434, #172A45, #892F89, #431641, #073966);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4rem;
    font-weight: bolder;
  
  }
  
  img {
    display: flex;
    width: 25rem;
    position: absolute;
  
  }
  
  .design {
    top:0;
    
  }


  #segunda {
   background: #FDF3B8;
    color: black;
    padding: 6rem 15rem;
    text-align: justify;
  }
   
    .card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    

  #tercera {
    background: #FDF3B8;
    color: black;
    padding: 6rem 15rem;
    text-align: center;
    padding-bottom: 10px;
   
    
}


  h2 {
   
  text-align: center;
  padding-bottom: 1rem;
  
  }

  .title-project {
    text-align: center;
    padding-bottom: 3rem;
    
  }
  #container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 4rem;
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 10rem;

  }

  .project {
    background: linear-gradient(90deg, #006766,/* #9CBBBC, #9CBBBC,*/ #006766);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 500px;
    
  }

  
  .project a {
    text-decoration: none;
    color:white;
    
}

.title {
  color: white;
  font-size: 1rem;
  padding-top: 10px;
}


.title:hover {
  transform: scale(1.1);
}

  
/*PARA DISPOSITIVOS MOVILES*/


  @media (max-width: 800px){
   
    ul {
      margin: 0;
      gap:1;
      
    }

    li {
      margin: 0;
    }

    #navbar {
      padding: 0 0.6rem;
    }
  
   .logo {
    gap: 0.5rem;
   }

    img {
     
      width: 18rem;
      
    }

  .name {
    
    padding: 2.5rem;
    padding-top: 10rem;
    padding-bottom: 20px;
    font-size: 30px;
    
  }

  h1 {
   padding-bottom: 10px;
   font-size: 1rem; 
 
 }

 
 #segunda {
   padding: 0.5rem;
 
 }
  
   .card {
   margin: 40px auto;
   padding: 30px;
   
   }


   #tercera {
    padding: 6rem 1rem;
  
    
}


  #container-grid {
  
    padding-bottom: 1rem;

  }


  }